<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <title>Navid Saboori - Flask App</title>
  </head>
<body>
<div>
<h2>Navid Saboori - Flask App</h2>

<form action="/todo">
  Username:<br>
  <input type="text" name="html_username" value="">
  <br>
  <input type="submit" value="html_user_Submit">
</form> 
<div>
<p>
<a href="/todo">link text</a>
</p>
</div>
</div>
<!-- <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p> -->

</body>
</html>
